body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-main{
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

.search-bar{
  height: 50px;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.header {
  background: rgba(25, 28, 31, 0.3);
  z-index: 10;
  position: fixed;
  width: 100%;
}

.header .nav-item {
  padding-left: 20px;
}

.header .nav-link{
  border:  4px solid transparent;
}

.header .nav-link:hover{
  border-bottom: 4px solid #23D5AB;
  transition: all 0.2s ease-out;
  color: #23D5AB;
  
}

.header .navbar {
  padding: 10px 15px;
  
}
.header.sticky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 91;
}
.header.sticky .navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 15px;
  width: 100%;
  background: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
  box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 6%);
  opacity: 0;
  -webkit-animation: fadeInDown .95s ease-in-out 0s 1 normal none running;
  animation: fadeInDown .95s ease-in-out 0s 1 normal none running;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.white-box{
  background-color: rgba(255,255,255,0.8);
  border-radius: 30px;
  box-shadow: 0px 6px 13px 0px rgb(0,0,0,0.6);
}

.white-box-2{
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  box-shadow: 0px 6px 13px 0px rgb(0,0,0,0.6);
}


.btn-grad {background-image: linear-gradient(to right, #A1FFCE 0%, #FAFFD1  51%, #A1FFCE  100%)}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #EE7752;            
  box-shadow: 0px 6px 13px 0px rgb(0,0,0,0.6);
  border-radius: 30px;
  display: block;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #23A6D5;
  text-decoration: none;
}


.btn-evo {background-image: linear-gradient(to right, #D38312 0%, #A83279  51%, #D38312  100%)}
.btn-evo{
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.btn-evo:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.icon-edit {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.modal-box {
  padding: 15px;
}
         
         